client/scripts/

# Virtual Environments
.venv/
venv/
env/

# IDE Metadata
**/.idea/
.vscode/

# Python Bytecode
__pycache__/
*.py[cod]
*$py.class

# Logs
server/data/logs/*
!server/data/logs/.gitkeep

# OS-specific files
.DS_Store
.DS_Store?
._*
Thumbs.db
ehthumbs.db
Desktop.ini
